@import './defaults.scss';

.spreadsheet {
	width: 100%;
	height: auto;
	overflow-x: auto;
	overflow-y: auto;
	border: 1px solid $color-dark;

	.spreadsheet-inner {
		position: relative;
		//background: #ccccff;
		background: $color-dark;

		.cell-contents {
			position: absolute;
			border: 1px solid $color-dark;
			border-radius: 0;

			&.header {
				cursor: default;
				background: $color-dark;
				color: $color-mid;
				border: 1px solid $color-darkest;
				&.left {
					text-align: right;
					padding-right: 4px;
				}
				&.top {
					text-align: center;
				}
			}

			&.error {
				color: $color-error;
			}

			font-size: 11px;
			font-family: monospace;
			white-space: nowrap;

			background: $color-lightest;
			padding: 0;
			margin: 0;
			cursor: text;

			z-index: 1;
		}
	}

	table {
		border: 1px solid $color-darkest;
		border-collapse: collapse;
		table-layout: fixed;
		td {
			border: 1px solid $color-darkest;
			$width: 120px;
			width: $width;
			overflow: hidden;
		}

		td.header {
			cursor: default;
			background: $color-dark;
			color: $color-lightest;
			text-align: center;

			&.side {
				padding: 0 10px;
			}
		}
	}
}
